<div class="content-section implementation carousel-demo">
    <p-carousel [value]="cars" [numVisible]="4" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
        <p-header>
            <h3>Basic</h3>
        </p-header>
        <ng-template let-car pTemplate="item">
            <div class="car-details">
                <div class="p-grid p-nogutter">
                    <div class="p-col-12">
                        <img src="assets/showcase/images/demo/car/{{car.brand}}.png" />
                    </div>
                    <div class="p-col-12 car-data">
                        <div class="car-title">{{car.brand}}</div>
                        <div class="car-subtitle">{{car.year}} | {{car.color}}</div>

                        <div class="car-buttons">
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    <p-carousel [value]="cars" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <p-header>
            <h3>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h3>
        </p-header>
        <ng-template let-car pTemplate="item">
            <div class="car-details">
                <div class="p-grid p-nogutter">
                    <div class="p-col-12">
                        <img src="assets/showcase/images/demo/car/{{car.brand}}.png" />
                    </div>
                    <div class="p-col-12 car-data">
                        <div class="car-title">{{car.brand}}</div>
                        <div class="car-subtitle">{{car.year}} | {{car.color}}</div>

                        <div class="car-buttons">
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    <p-carousel [value]="cars" orientation="vertical" [style]="{'max-width':'400px', 'margin-top':'2em'}" verticalViewPortHeight="330px" [numVisible]="1" [numScroll]="1">
        <p-header>
            <h3>Vertical</h3>
        </p-header>
        <ng-template let-car pTemplate="item">
            <div class="car-details">
                <div class="p-grid p-nogutter">
                    <div class="p-col-12">
                        <img src="assets/showcase/images/demo/car/{{car.brand}}.png" />
                    </div>
                    <div class="p-col-12 car-data">
                        <div class="car-title">{{car.brand}}</div>
                        <div class="car-subtitle">{{car.year}} | {{car.color}}</div>

                        <div class="car-buttons">
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                            <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>