<div _ngcontent-qlu-c64="" class="p-grid layout-dashboard">
    <div _ngcontent-qlu-c64="" class="p-col-12 p-md-6 p-lg-3">
        <div _ngcontent-qlu-c64="" class="overview-box card">
            <div _ngcontent-qlu-c64="" class="overview-box-value">90</div>
            <div _ngcontent-qlu-c64="" class="overview-box-title">TASKS</div><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/graph-tasks.svg" alt="">
            <div _ngcontent-qlu-c64="" class="overview-box-status"> +8.9% <i _ngcontent-qlu-c64="" class="pi pi-arrow-circle-up"></i></div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-md-6 p-lg-3">
        <div _ngcontent-qlu-c64="" class="overview-box card">
            <div _ngcontent-qlu-c64="" class="overview-box-value">1259</div>
            <div _ngcontent-qlu-c64="" class="overview-box-title">PURCHASES</div><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/graph-purchases.svg" alt="">
            <div _ngcontent-qlu-c64="" class="overview-box-status"> +67.2% <i _ngcontent-qlu-c64="" class="pi pi-arrow-circle-up"></i></div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-md-6 p-lg-3">
        <div _ngcontent-qlu-c64="" class="overview-box card">
            <div _ngcontent-qlu-c64="" class="overview-box-value">21</div>
            <div _ngcontent-qlu-c64="" class="overview-box-title">ISSUES</div><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/graph-issues.svg" alt="">
            <div _ngcontent-qlu-c64="" class="overview-box-status"> +3.0% <i _ngcontent-qlu-c64="" class="pi pi-arrow-circle-up"></i></div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-md-6 p-lg-3">
        <div _ngcontent-qlu-c64="" class="overview-box card">
            <div _ngcontent-qlu-c64="" class="overview-box-value">42</div>
            <div _ngcontent-qlu-c64="" class="overview-box-title">MESSAGES</div><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/graph-messages.svg" alt="">
            <div _ngcontent-qlu-c64="" class="overview-box-status"> +12.5% <i _ngcontent-qlu-c64="" class="pi pi-arrow-circle-up"></i></div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-md-8 p-lg-8">
        <div _ngcontent-qlu-c64="" class="card card-w-title">
            <h5 _ngcontent-qlu-c64="">Statistics</h5>
            <p-chart _ngcontent-qlu-c64="" type="line" class="p-element">
                <div style="position: relative;"><canvas width="1174" height="587" style="display: block; box-sizing: border-box; height: 587px; width: 1174px;"></canvas></div>
            </p-chart>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-md-4 p-lg-4">
        <div _ngcontent-qlu-c64="" class="timeline card card-w-title">
            <h5 _ngcontent-qlu-c64="">Timeline</h5>
            <ul _ngcontent-qlu-c64="">
                <li _ngcontent-qlu-c64=""><i _ngcontent-qlu-c64="" class="pi pi-image"></i><span _ngcontent-qlu-c64="" class="timeline-event-title">Uploaded Images</span><span _ngcontent-qlu-c64="" class="timeline-event-time">15m</span>
                    <p _ngcontent-qlu-c64="">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <div _ngcontent-qlu-c64="" class="p-grid">
                        <div _ngcontent-qlu-c64="" class="p-col-6"><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/image-1.jpg" alt=""></div>
                        <div _ngcontent-qlu-c64="" class="p-col-6"><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/image-2.jpg" alt=""></div>
                    </div>
                </li>
                <li _ngcontent-qlu-c64=""><i _ngcontent-qlu-c64="" class="pi pi-star"></i><span _ngcontent-qlu-c64="" class="timeline-event-title">Favorites</span><span _ngcontent-qlu-c64="" class="timeline-event-time">1h</span>
                    <p _ngcontent-qlu-c64="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </li>
                <li _ngcontent-qlu-c64=""><i _ngcontent-qlu-c64="" class="pi pi-users"></i><span _ngcontent-qlu-c64="" class="timeline-event-title">Meeting</span><span _ngcontent-qlu-c64="" class="timeline-event-time">2h</span>
                    <p _ngcontent-qlu-c64="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </li>
                <li _ngcontent-qlu-c64=""><i _ngcontent-qlu-c64="" class="pi pi-money-bill"></i><span _ngcontent-qlu-c64="" class="timeline-event-title">Payment Received</span><span _ngcontent-qlu-c64="" class="timeline-event-time">3h</span>
                    <p _ngcontent-qlu-c64="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </li>
            </ul>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-xl-6">
        <div _ngcontent-qlu-c64="" class="expenses card card-w-title">
            <h5 _ngcontent-qlu-c64="">Expenses</h5>
            <div _ngcontent-qlu-c64="" class="chart"> $5500 </div>
            <div _ngcontent-qlu-c64="" class="p-grid expenses-legend">
                <div _ngcontent-qlu-c64="" class="p-col-12 p-lg-4"><i _ngcontent-qlu-c64="" class="pi pi-circle-on"></i><span _ngcontent-qlu-c64="" class="expenses-title">Printer: Color Cartridge</span>
                    <div _ngcontent-qlu-c64="" class="expenses-price">$420</div><span _ngcontent-qlu-c64="" class="legend-status">23+ more than last month</span></div>
                <div _ngcontent-qlu-c64="" class="p-col-12 p-lg-4"><i _ngcontent-qlu-c64="" class="pi pi-circle-on"></i><span _ngcontent-qlu-c64="" class="expenses-title">Printer: B&amp;W Cartridge</span>
                    <div _ngcontent-qlu-c64="" class="expenses-price">$680</div><span _ngcontent-qlu-c64="" class="legend-status">60+ more than last month</span></div>
                <div _ngcontent-qlu-c64="" class="p-col-12 p-lg-4"><i _ngcontent-qlu-c64="" class="pi pi-circle-on"></i><span _ngcontent-qlu-c64="" class="expenses-title">Coffee Capsules</span>
                    <div _ngcontent-qlu-c64="" class="expenses-price">$150</div><span _ngcontent-qlu-c64="" class="legend-status">8% less than last month</span></div>
            </div>
            <div _ngcontent-qlu-c64="" class="expenses-footer"><a _ngcontent-qlu-c64="" href="#">View more details &gt;&gt;</a></div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-xl-6">
        <div _ngcontent-qlu-c64="" class="card card-w-title">
            <h5 _ngcontent-qlu-c64="">Schedule</h5>

        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-lg-6 p-xl-4">
        <div _ngcontent-qlu-c64="" class="card card-w-title tasks">
            <h5 _ngcontent-qlu-c64="">Tasks</h5>
            <p _ngcontent-qlu-c64="">You have <span _ngcontent-qlu-c64="" class="task-highlight">completed</span> 3 tasks out of 6.</p>

            <ul _ngcontent-qlu-c64="">
                <li _ngcontent-qlu-c64="">
                    <p-checkbox _ngcontent-qlu-c64="" class="p-element">
                        <div class="p-checkbox p-component">
                            <div class="p-hidden-accessible"><input type="checkbox" value="undefined" aria-checked="false"></div>
                            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
                        </div>
                        <!---->
                    </p-checkbox><span _ngcontent-qlu-c64="">Sales Reports</span><span _ngcontent-qlu-c64="" class="task-badge-open">Open</span></li>
                <li _ngcontent-qlu-c64="">
                    <p-checkbox _ngcontent-qlu-c64="" class="p-element">
                        <div class="p-checkbox p-component">
                            <div class="p-hidden-accessible"><input type="checkbox" value="undefined" aria-checked="false"></div>
                            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
                        </div>
                        <!---->
                    </p-checkbox><span _ngcontent-qlu-c64="">Pay Invoices</span><span _ngcontent-qlu-c64="" class="task-badge-open">Open</span></li>
                <li _ngcontent-qlu-c64="">
                    <p-checkbox _ngcontent-qlu-c64="" class="p-element">
                        <div class="p-checkbox p-component">
                            <div class="p-hidden-accessible"><input type="checkbox" value="undefined" aria-checked="false"></div>
                            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
                        </div>
                        <!---->
                    </p-checkbox><span _ngcontent-qlu-c64="">Birthday Party</span><span _ngcontent-qlu-c64="" class="task-badge-open">Open</span></li>
                <li _ngcontent-qlu-c64="">
                    <p-checkbox _ngcontent-qlu-c64="" class="p-element">
                        <div class="p-checkbox p-component">
                            <div class="p-hidden-accessible"><input type="checkbox" value="undefined" aria-checked="false"></div>
                            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
                        </div>
                        <!---->
                    </p-checkbox><span _ngcontent-qlu-c64="">Client Meeting</span><span _ngcontent-qlu-c64="" class="task-badge-closed">Closed</span></li>
                <li _ngcontent-qlu-c64="">
                    <p-checkbox _ngcontent-qlu-c64="" class="p-element">
                        <div class="p-checkbox p-component">
                            <div class="p-hidden-accessible"><input type="checkbox" value="undefined" aria-checked="false"></div>
                            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
                        </div>
                        <!---->
                    </p-checkbox><span _ngcontent-qlu-c64="">New Themes</span><span _ngcontent-qlu-c64="" class="task-badge-closed">Closed</span></li>
                <li _ngcontent-qlu-c64="">
                    <p-checkbox _ngcontent-qlu-c64="" class="p-element">
                        <div class="p-checkbox p-component">
                            <div class="p-hidden-accessible"><input type="checkbox" value="undefined" aria-checked="false"></div>
                            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
                        </div>
                        <!---->
                    </p-checkbox><span _ngcontent-qlu-c64="">Flight Ticket</span><span _ngcontent-qlu-c64="" class="task-badge-closed">Closed</span></li>
            </ul>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-lg-6 p-xl-4">
        <div _ngcontent-qlu-c64="" class="card card-w-title resolution-center p-fluid">
            <h5 _ngcontent-qlu-c64="">Resolution Center</h5><input _ngcontent-qlu-c64="" id="username" type="text" pinputtext="" placeholder="Username" class="p-inputtext p-component p-element"><input _ngcontent-qlu-c64="" id="email" type="text" pinputtext="" placeholder="Email"
                class="p-inputtext p-component p-element">
            <textarea _ngcontent-qlu-c64="" rows="5" pinputtextarea="" placeholder="Message" class="p-inputtextarea p-inputtext p-component p-element"></textarea>
            <div _ngcontent-qlu-c64="" class="resolution-button-bar"><button _ngcontent-qlu-c64="" pbutton="" type="button" label="Send" icon="pi pi-envelope" class="p-element p-button p-component"><span class="p-button-icon p-button-icon-left pi pi-envelope" aria-hidden="true"></span><span class="p-button-label">Send</span></button>
                <button _ngcontent-qlu-c64="" pbutton="" type="button" label="Save" icon="pi pi-plus" class="p-element p-button-secondary p-button p-component"><span class="p-button-icon p-button-icon-left pi pi-plus" aria-hidden="true"></span><span class="p-button-label">Save</span></button>
            </div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-xl-4">
        <div _ngcontent-qlu-c64="" class="card card-w-title team">
            <h5 _ngcontent-qlu-c64="">Team</h5>
            <ul _ngcontent-qlu-c64="">
                <li _ngcontent-qlu-c64=""><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-1.png" library="roma-layout">
                    <div _ngcontent-qlu-c64="" class="team-box"><span _ngcontent-qlu-c64="" class="team-member">John Swisher Welch</span><span _ngcontent-qlu-c64="" class="team-member-account">@jswisher</span></div><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-paperclip"></i></a>
                    <a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-comment"></i></a><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-share-alt"></i></a></li>
                <li _ngcontent-qlu-c64=""><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-2.png" library="roma-layout">
                    <div _ngcontent-qlu-c64="" class="team-box"><span _ngcontent-qlu-c64="" class="team-member">Bernd Pfefferberg</span><span _ngcontent-qlu-c64="" class="team-member-account">@pfefferberg</span></div><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-paperclip"></i></a>
                    <a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-comment"></i></a><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-share-alt"></i></a></li>
                <li _ngcontent-qlu-c64=""><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-3.png" library="roma-layout">
                    <div _ngcontent-qlu-c64="" class="team-box"><span _ngcontent-qlu-c64="" class="team-member">Chinaza Akachi</span><span _ngcontent-qlu-c64="" class="team-member-account">@chinazzza_</span></div><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-paperclip"></i></a>
                    <a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-comment"></i></a><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-share-alt"></i></a></li>
                <li _ngcontent-qlu-c64=""><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-4.png" library="roma-layout">
                    <div _ngcontent-qlu-c64="" class="team-box"><span _ngcontent-qlu-c64="" class="team-member">Luka Miller</span><span _ngcontent-qlu-c64="" class="team-member-account">@luk4mr</span></div><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-paperclip"></i></a>
                    <a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-comment"></i></a><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-share-alt"></i></a></li>
                <li _ngcontent-qlu-c64=""><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-5.png" library="roma-layout">
                    <div _ngcontent-qlu-c64="" class="team-box"><span _ngcontent-qlu-c64="" class="team-member">Arlene Welch</span><span _ngcontent-qlu-c64="" class="team-member-account">@arlene</span></div><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-paperclip"></i></a>
                    <a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-comment"></i></a><a _ngcontent-qlu-c64="" href="#"><i _ngcontent-qlu-c64="" class="pi pi-share-alt"></i></a></li>
            </ul>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-xl-8">
        <div _ngcontent-qlu-c64="" class="card card-w-title live-support">
            <h5 _ngcontent-qlu-c64="">Live Support</h5>
            <ul _ngcontent-qlu-c64="">
                <li _ngcontent-qlu-c64="" class="message-from">
                    <div _ngcontent-qlu-c64="" class="p-grid">
                        <div _ngcontent-qlu-c64="" class="p-col-fixed"><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-1.png" library="roma-layout"></div>
                        <div _ngcontent-qlu-c64="" class="p-col">
                            <div _ngcontent-qlu-c64="" class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac euismod justo, eget blandit purus.</div>
                        </div>
                    </div>
                </li>
                <li _ngcontent-qlu-c64="" class="message-to">
                    <div _ngcontent-qlu-c64="" class="p-grid">
                        <div _ngcontent-qlu-c64="" class="p-col">
                            <div _ngcontent-qlu-c64="" class="chat-message">Mauris malesuada quis risus ut consequat. Maecenas ornare nunc risus, pulvinar euismod mi pellentesque eget.</div>
                        </div>
                        <div _ngcontent-qlu-c64="" class="p-col-fixed"><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-1.png" library="roma-layout"></div>
                    </div>
                </li>
                <li _ngcontent-qlu-c64="" class="message-from">
                    <div _ngcontent-qlu-c64="" class="p-grid">
                        <div _ngcontent-qlu-c64="" class="p-col-fixed"><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar-2.png" library="roma-layout"></div>
                        <div _ngcontent-qlu-c64="" class="p-col">
                            <div _ngcontent-qlu-c64="" class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac euismod justo, eget blandit purus.</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div _ngcontent-qlu-c64="" class="new-message">
                <div _ngcontent-qlu-c64="" class="p-grid p-nogutter">
                    <div _ngcontent-qlu-c64="" class="p-col"><input _ngcontent-qlu-c64="" id="input" type="text" pinputtext="" placeholder="Write a message.." class="p-inputtext p-component p-element"></div>
                    <div _ngcontent-qlu-c64="" class="p-col-fixed"><button _ngcontent-qlu-c64="" pbutton="" type="button" label="Send" class="p-element p-button p-component"><span class="p-button-label">Send</span></button></div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-xl-4">
        <div _ngcontent-qlu-c64="" class="card user-card">
            <div _ngcontent-qlu-c64="" class="user-card-header"><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/bg-header.png" library="roma-layout"></div>
            <div _ngcontent-qlu-c64="" class="user-card-content"><img _ngcontent-qlu-c64="" src="assets/layout/images/avatar.png" library="roma-layout"><button _ngcontent-qlu-c64="" pbutton="" type="button" icon="pi pi-cog" class="p-element p-button p-component p-button-icon-only"><span class="p-button-icon pi pi-cog" aria-hidden="true"></span><span aria-hidden="true" class="p-button-label">&nbsp;</span></button>
                <p-menu _ngcontent-qlu-c64="" class="p-element ng-tns-c50-52 ng-star-inserted">
                    <!---->
                </p-menu>
                <div _ngcontent-qlu-c64="" class="user-card-name"><span _ngcontent-qlu-c64="">Maria Llescas</span></div>

            </div>
        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-xl-8">
        <div _ngcontent-qlu-c64="" class="card card-w-title global-sales p-fluid">
            <h5 _ngcontent-qlu-c64="">Global Sales</h5>

        </div>
    </div>
    <div _ngcontent-qlu-c64="" class="p-col-12 p-xl-4">
        <div _ngcontent-qlu-c64="" class="card weather">
            <div _ngcontent-qlu-c64="" class="weather-header"><img _ngcontent-qlu-c64="" src="assets/layout/images/dashboard/weather.png" library="roma-layout"></div>
            <div _ngcontent-qlu-c64="" class="weather-content">
                <div _ngcontent-qlu-c64="" class="weather-city">Antalya</div>
                <div _ngcontent-qlu-c64="" class="weather-status">24° C <i _ngcontent-qlu-c64="" class="pi pi-map-marker"></i></div>
                <div _ngcontent-qlu-c64="" class="weather-detail">Feels like 26° Low 14 ° High 28 °</div><a _ngcontent-qlu-c64="">Change Location</a></div>
        </div>
    </div>
</div>