<div class="home__content">
    <div _ngcontent-btl-c64="" class="p-grid layout-dashboard">
        <div _ngcontent-btl-c64="" class="p-col-12 p-md-8 p-lg-8">
            <div _ngcontent-btl-c64="" class="card card-w-title">
                <h5 _ngcontent-btl-c64="">Statistics</h5>
                <p-chart _ngcontent-btl-c64="" type="line"
                    ><div style="position: relative">
                        <canvas
                            width="1169"
                            height="584"
                            style="
                                display: block;
                                box-sizing: border-box;
                                height: 584px;
                                width: 1169px;
                            "
                        ></canvas></div
                ></p-chart>
            </div>
        </div>
        <div _ngcontent-btl-c64="" class="p-col-12 p-md-4 p-lg-4">
            <div _ngcontent-btl-c64="" class="timeline card card-w-title">
                <h5 _ngcontent-btl-c64="">Timeline</h5>
                <ul _ngcontent-btl-c64="">
                    <li _ngcontent-btl-c64="">
                        <i _ngcontent-btl-c64="" class="pi pi-image"></i
                        ><span _ngcontent-btl-c64="" class="timeline-event-title"
                            >Uploaded Images</span
                        ><span _ngcontent-btl-c64="" class="timeline-event-time"
                            >15m</span
                        >
                        <p _ngcontent-btl-c64="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <div _ngcontent-btl-c64="" class="p-grid">
                            <div _ngcontent-btl-c64="" class="p-col-6">
                                <img
                                    _ngcontent-btl-c64=""
                                    src="assets/layout/images/dashboard/image-1.jpg"
                                    alt=""
                                />
                            </div>
                            <div _ngcontent-btl-c64="" class="p-col-6">
                                <img
                                    _ngcontent-btl-c64=""
                                    src="assets/layout/images/dashboard/image-2.jpg"
                                    alt=""
                                />
                            </div>
                        </div>
                    </li>
                    <li _ngcontent-btl-c64="">
                        <i _ngcontent-btl-c64="" class="pi pi-star"></i
                        ><span _ngcontent-btl-c64="" class="timeline-event-title"
                            >Favorites</span
                        ><span _ngcontent-btl-c64="" class="timeline-event-time"
                            >1h</span
                        >
                        <p _ngcontent-btl-c64="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </li>
                    <li _ngcontent-btl-c64="">
                        <i _ngcontent-btl-c64="" class="pi pi-users"></i
                        ><span _ngcontent-btl-c64="" class="timeline-event-title"
                            >Meeting</span
                        ><span _ngcontent-btl-c64="" class="timeline-event-time"
                            >2h</span
                        >
                        <p _ngcontent-btl-c64="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </li>
                    <li _ngcontent-btl-c64="">
                        <i _ngcontent-btl-c64="" class="pi pi-money-bill"></i
                        ><span _ngcontent-btl-c64="" class="timeline-event-title"
                            >Payment Received</span
                        ><span _ngcontent-btl-c64="" class="timeline-event-time"
                            >3h</span
                        >
                        <p _ngcontent-btl-c64="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</div>