<div class="layout-wrapper layout-slim layout-menu-light layout-topbar-blue">

    <div class="layout-topbar">
        <a class="layout-right-panel-button layout-topbar-icon" href="#">
            <i class="pi pi-ellipsis-v"></i>
        </a>

        <a class="layout-menu-button layout-topbar-icon" href="#">
            <i class="pi pi-bars"></i>
        </a>
        <a id="logo-link" name="logo-link" href="/roma/dashboard.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0" class="layout-topbar-logo"><img id="j_idt14" src="https://www.primefaces.org/roma-ng/assets/layout/images/logo-roma-white.svg" alt=""></a>

        <span class="layout-topbar-search">
            <i class="pi pi-search"></i>
            <input type="text" placeholder="Enter your search term">
        </span>

        <ul class="topbar-menu fadeInDown">
            <li class="user-profile" (click)="menu.toggle($event)">
                <a href="#"><img id="j_idt18" src="https://www.primefaces.org/roma-ng/assets/layout/images/avatar.png" alt="">
                    <div class="layout-profile-userinfo">
                        <span class="layout-profile-name">Arlene Welch</span>
                        <span class="layout-profile-role">Design Ops</span>
                    </div>
                </a>
                <!-- <ul class="fadeInDown"  #menu [popup]="true" [model]="items">
                    <li>
                        <a href="#">
                            <i class="pi pi-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="pi pi-cog"></i>
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="pi pi-envelope"></i>
                            <span>Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="pi pi-bell"></i>
                            <span>Notifications</span>
                        </a>
                    </li>
                </ul> -->
            </li>
            <li (click)="menuNotifications.toggle($event)">
                <a href="#" class="layout-topbar-icon">
                    <i class="topbar-icon pi pi-bell"></i>
                </a>


                <!-- <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#"><img id="j_idt21" src="/roma/javax.faces.resource/images/avatar/avatar-1.png.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0?ln=roma-layout" alt="">
                            <div class="topbar-menu-info">
                                <span class="topbar-menu-name">Bithika Abhedananda</span>
                                <span class="topbar-menu-role">User interface review is done.</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#"><img id="j_idt23" src="/roma/javax.faces.resource/images/avatar/avatar-2.png.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0?ln=roma-layout" alt="">
                            <div class="topbar-menu-info">
                                <span class="topbar-menu-name">Dai Jiang</span>
                                <span class="topbar-menu-role">Uh, we have sort of a problem here.</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#"><img id="j_idt25" src="/roma/javax.faces.resource/images/avatar/avatar-3.png.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0?ln=roma-layout" alt="">
                            <div class="topbar-menu-info">
                                <span class="topbar-menu-name">Karlien Nijhuis</span>
                                <span class="topbar-menu-role">You apparently didn’t put the thing</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#"><img id="j_idt27" src="/roma/javax.faces.resource/images/avatar/avatar-4.png.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0?ln=roma-layout" alt="">
                            <div class="topbar-menu-info">
                                <span class="topbar-menu-name">Tom Chun</span>
                                <span class="topbar-menu-role">Please check the files</span>
                            </div>
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="#"><img id="j_idt29" src="/roma/javax.faces.resource/images/avatar/avatar-5.png.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0?ln=roma-layout" alt="">
                            <div class="topbar-menu-info">
                                <span class="topbar-menu-name">Maria Trofimova</span>
                                <span class="topbar-menu-role">Meeting reports attached.</span>
                            </div>

                        </a>
                    </li>
                </ul> -->
            </li>
        </ul>
        <p-menu styleClass="personal" #menu [popup]="true" [model]="items"></p-menu>
        <p-menu styleClass="menu__notifications" #menuNotifications [popup]="true" [model]="itemsNotifications"></p-menu>

    </div>


    <div class="layout-menu-container">
        <div class="menu-scroll-content">
            <form id="menuform" name="menuform" method="post" action="/roma/dashboard.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="menuform" value="menuform">
                <ul id="menuform:j_idt36" class="layout-menu">
                    <li id="menuform:om_favorites" role="menuitem" class="layout-root-menuitem" (click)="sidebarFr.toggle($event)">
                        <div class="layout-menuitem-root-text">Favorites</div><a href="#"><i class="pi pi-fw pi-home layout-menuitem-icon"></i><span class="layout-menuitem-text">Favorites</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">Favorites</div>
                        </div>
                        <!-- <ul role="menu">
                            <li id="menuform:om_dashboard" role="menuitem"><a href="/roma/dashboard.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-home layout-menuitem-icon"></i><span class="layout-menuitem-text">Dashboard</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Dashboard</div>
                                </div>
                            </li>
                        </ul> -->
                    </li>
                    <p-tieredMenu styleClass="menucus" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #sidebarFr [model]="menuSideBarFavorites" [popup]="true"></p-tieredMenu>
                    <p-tieredMenu styleClass="menucus" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #sidebarUI [model]="menuSideBarUI" [popup]="true"></p-tieredMenu>
                    <p-tieredMenu styleClass="menucus" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #sidebarUtilities [model]="menuSideBarUtilities" [popup]="true"></p-tieredMenu>
                    <p-tieredMenu styleClass="menucus" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #sidebarPages [model]="menuSideBarPages" [popup]="true"></p-tieredMenu>
                    <p-tieredMenu styleClass="menucus" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #sidebarBuynow [model]="menuSideBarbuynow" [popup]="true"></p-tieredMenu>

                    <li id="menuform:om_components" role="menuitem" class="layout-root-menuitem" (click)="sidebarUI.toggle($event)">
                        <div class="layout-menuitem-root-text">UI Kit</div><a href="#"><i class="pi pi-fw pi-star layout-menuitem-icon"></i><span class="layout-menuitem-text">UI Kit</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">UI Kit</div>
                        </div>
                        <ul role="menu">
                            <li id="menuform:om_formlayout" role="menuitem"><a href="/roma/formlayout.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-id-card layout-menuitem-icon"></i><span class="layout-menuitem-text">Form Layout</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Form Layout</div>
                                </div>
                            </li>
                            <li id="menuform:om_input" role="menuitem"><a href="/roma/input.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-check-square layout-menuitem-icon"></i><span class="layout-menuitem-text">Input</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Input</div>
                                </div>
                            </li>
                            <li id="menuform:om_floatlabel" role="menuitem"><a href="/roma/floatlabel.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-bookmark layout-menuitem-icon"></i><span class="layout-menuitem-text">Float Label</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Float Label</div>
                                </div>
                            </li>
                            <li id="menuform:om_invalidstate" role="menuitem"><a href="/roma/invalidstate.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-exclamation-circle layout-menuitem-icon"></i><span class="layout-menuitem-text">Invalid State</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Invalid State</div>
                                </div>
                            </li>
                            <li id="menuform:om_button" role="menuitem"><a class="rotated-icon" href="/roma/button.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-mobile layout-menuitem-icon"></i><span class="layout-menuitem-text">Button</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Button</div>
                                </div>
                            </li>
                            <li id="menuform:om_table" role="menuitem"><a href="/roma/table.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-table layout-menuitem-icon"></i><span class="layout-menuitem-text">Table</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Table</div>
                                </div>
                            </li>
                            <li id="menuform:om_list" role="menuitem"><a href="/roma/list.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-list layout-menuitem-icon"></i><span class="layout-menuitem-text">List</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">List</div>
                                </div>
                            </li>
                            <li id="menuform:om_tree" role="menuitem"><a href="/roma/tree.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-share-alt layout-menuitem-icon"></i><span class="layout-menuitem-text">Tree</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Tree</div>
                                </div>
                            </li>
                            <li id="menuform:om_panel" role="menuitem"><a href="/roma/panel.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-tablet layout-menuitem-icon"></i><span class="layout-menuitem-text">Panel</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Panel</div>
                                </div>
                            </li>
                            <li id="menuform:om_overlay" role="menuitem"><a href="/roma/overlay.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-clone layout-menuitem-icon"></i><span class="layout-menuitem-text">Overlay</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Overlay</div>
                                </div>
                            </li>
                            <li id="menuform:om_menu" role="menuitem"><a href="/roma/menu.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-bars layout-menuitem-icon"></i><span class="layout-menuitem-text">Menu</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Menu</div>
                                </div>
                            </li>
                            <li id="menuform:om_message" role="menuitem"><a href="/roma/messages.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-comment layout-menuitem-icon"></i><span class="layout-menuitem-text">Message</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Message</div>
                                </div>
                            </li>
                            <li id="menuform:om_file" role="menuitem"><a href="/roma/file.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-file layout-menuitem-icon"></i><span class="layout-menuitem-text">File</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">File</div>
                                </div>
                            </li>
                            <li id="menuform:om_chart" role="menuitem"><a href="/roma/charts.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-chart-bar layout-menuitem-icon"></i><span class="layout-menuitem-text">Chart</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Chart</div>
                                </div>
                            </li>
                            <li id="menuform:om_misc" role="menuitem"><a href="/roma/misc.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-circle-off layout-menuitem-icon"></i><span class="layout-menuitem-text">Misc</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Misc</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="menuform:om_utils" role="menuitem" class="layout-root-menuitem" (click)="sidebarUtilities.toggle($event)">
                        <div class="layout-menuitem-root-text">Utilities</div><a href="#"><i class="pi pi-fw pi-compass layout-menuitem-icon"></i><span class="layout-menuitem-text">Utilities</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">Utilities</div>
                        </div>
                        <ul role="menu">
                            <li id="menuform:om_display" role="menuitem"><a href="/roma/display.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-desktop layout-menuitem-icon"></i><span class="layout-menuitem-text">Display</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Display</div>
                                </div>
                            </li>
                            <li id="menuform:om_elevation" role="menuitem"><a href="/roma/elevation.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-external-link layout-menuitem-icon"></i><span class="layout-menuitem-text">Elevation</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Elevation</div>
                                </div>
                            </li>
                            <li id="menuform:om_flexbox" role="menuitem"><a href="/roma/flexbox.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-directions layout-menuitem-icon"></i><span class="layout-menuitem-text">FlexBox</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">FlexBox</div>
                                </div>
                            </li>
                            <li id="menuform:om_icons" role="menuitem"><a href="/roma/icons.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-search layout-menuitem-icon"></i><span class="layout-menuitem-text">Icons</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Icons</div>
                                </div>
                            </li>
                            <li id="menuform:om_text" role="menuitem"><a href="/roma/text.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-pencil layout-menuitem-icon"></i><span class="layout-menuitem-text">Text</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Text</div>
                                </div>
                            </li>
                            <li id="menuform:om_widgets" role="menuitem"><a href="/roma/widgets.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-star-o layout-menuitem-icon"></i><span class="layout-menuitem-text">Widgets</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Widgets</div>
                                </div>
                            </li>
                            <li id="menuform:om_grid" role="menuitem"><a href="/roma/grid.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-th-large layout-menuitem-icon"></i><span class="layout-menuitem-text">Grid System</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Grid System</div>
                                </div>
                            </li>
                            <li id="menuform:om_spacing" role="menuitem"><a href="/roma/spacing.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-arrow-right layout-menuitem-icon"></i><span class="layout-menuitem-text">Spacing</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Spacing</div>
                                </div>
                            </li>
                            <li id="menuform:om_typography" role="menuitem"><a href="/roma/typography.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-align-center layout-menuitem-icon"></i><span class="layout-menuitem-text">Typography</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Typography</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="menuform:om_default" role="menuitem" class="layout-root-menuitem" (click)="sidebarPages.toggle($event)">
                        <div class="layout-menuitem-root-text">Pages</div><a href="#"><i class="pi pi-fw pi-briefcase layout-menuitem-icon"></i><span class="layout-menuitem-text">Pages</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">Pages</div>
                        </div>
                        <ul role="menu">
                            <li id="menuform:om_crud" role="menuitem"><a href="/roma/crud.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-pencil layout-menuitem-icon"></i><span class="layout-menuitem-text">Crud</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Crud</div>
                                </div>
                            </li>
                            <li id="menuform:om_calendar" role="menuitem"><a href="/roma/calendar.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-calendar-plus layout-menuitem-icon"></i><span class="layout-menuitem-text">Calendar</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Calendar</div>
                                </div>
                            </li>
                            <li id="menuform:om_chronoline" role="menuitem"><a href="/roma/chronoline.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-calendar layout-menuitem-icon"></i><span class="layout-menuitem-text">Chronoline</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Chronoline</div>
                                </div>
                            </li>
                            <li id="menuform:om_landing" role="menuitem"><a href="/roma/landing.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-user-plus layout-menuitem-icon"></i><span class="layout-menuitem-text">Landing</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Landing</div>
                                </div>
                            </li>
                            <li id="menuform:om_login" role="menuitem"><a href="/roma/login.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-sign-in layout-menuitem-icon"></i><span class="layout-menuitem-text">Login</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Login</div>
                                </div>
                            </li>
                            <li id="menuform:om_invoice" role="menuitem"><a href="/roma/invoice.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-dollar layout-menuitem-icon"></i><span class="layout-menuitem-text">Invoice</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Invoice</div>
                                </div>
                            </li>
                            <li id="menuform:om_help" role="menuitem"><a href="/roma/help.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-question-circle layout-menuitem-icon"></i><span class="layout-menuitem-text">Help</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Help</div>
                                </div>
                            </li>
                            <li id="menuform:om_error" role="menuitem"><a href="/roma/error.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-times-circle layout-menuitem-icon"></i><span class="layout-menuitem-text">Error</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Error</div>
                                </div>
                            </li>
                            <li id="menuform:om_notfound" role="menuitem"><a href="/roma/notfound.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-exclamation-circle layout-menuitem-icon"></i><span class="layout-menuitem-text">Not Found</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Not Found</div>
                                </div>
                            </li>
                            <li id="menuform:om_access" role="menuitem"><a href="/roma/access.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-lock layout-menuitem-icon"></i><span class="layout-menuitem-text">Access Denied</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Access Denied</div>
                                </div>
                            </li>
                            <li id="menuform:om_empty" role="menuitem"><a href="/roma/empty.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-circle-off layout-menuitem-icon"></i><span class="layout-menuitem-text">Empty</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Empty</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="menuform:om_hierarchy" role="menuitem" class="layout-root-menuitem">
                        <div class="layout-menuitem-root-text">Hierarchy</div><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Hierarchy</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">Hierarchy</div>
                        </div>
                        <ul role="menu">
                            <li id="menuform:om_sm1" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Submenu 1</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Submenu 1</div>
                                </div>
                                <ul role="menu">
                                    <li id="menuform:om_sm11" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Submenu 1.1</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                                        <div class="layout-menu-tooltip">
                                            <div class="layout-menu-tooltip-arrow"></div>
                                            <div class="layout-menu-tooltip-text">Submenu 1.1</div>
                                        </div>
                                        <ul role="menu">
                                            <li id="menuform:om_lnk111" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Link 1.1.1</span></a>
                                                <div class="layout-menu-tooltip">
                                                    <div class="layout-menu-tooltip-arrow"></div>
                                                    <div class="layout-menu-tooltip-text">Link 1.1.1</div>
                                                </div>
                                            </li>
                                            <li id="menuform:om_lnk112" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Link 1.1.2</span></a>
                                                <div class="layout-menu-tooltip">
                                                    <div class="layout-menu-tooltip-arrow"></div>
                                                    <div class="layout-menu-tooltip-text">Link 1.1.2</div>
                                                </div>
                                            </li>
                                            <li id="menuform:om_lnk113" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Link 1.1.3</span></a>
                                                <div class="layout-menu-tooltip">
                                                    <div class="layout-menu-tooltip-arrow"></div>
                                                    <div class="layout-menu-tooltip-text">Link 1.1.3</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menuform:om_sm12" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Submenu 1.2</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                                        <div class="layout-menu-tooltip">
                                            <div class="layout-menu-tooltip-arrow"></div>
                                            <div class="layout-menu-tooltip-text">Submenu 1.2</div>
                                        </div>
                                        <ul role="menu">
                                            <li id="menuform:om_lnk121" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Link 1.2.1</span></a>
                                                <div class="layout-menu-tooltip">
                                                    <div class="layout-menu-tooltip-arrow"></div>
                                                    <div class="layout-menu-tooltip-text">Link 1.2.1</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li id="menuform:om_sm2" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Submenu 2</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Submenu 2</div>
                                </div>
                                <ul role="menu">
                                    <li id="menuform:om_sm21" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Submenu 2.1</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                                        <div class="layout-menu-tooltip">
                                            <div class="layout-menu-tooltip-arrow"></div>
                                            <div class="layout-menu-tooltip-text">Submenu 2.1</div>
                                        </div>
                                        <ul role="menu">
                                            <li id="menuform:om_lnk211" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Link 2.1.1</span></a>
                                                <div class="layout-menu-tooltip">
                                                    <div class="layout-menu-tooltip-arrow"></div>
                                                    <div class="layout-menu-tooltip-text">Link 2.1.1</div>
                                                </div>
                                            </li>
                                            <li id="menuform:om_lnk212" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Link 2.1.2</span></a>
                                                <div class="layout-menu-tooltip">
                                                    <div class="layout-menu-tooltip-arrow"></div>
                                                    <div class="layout-menu-tooltip-text">Link 2.1.2</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menuform:om_sm22" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Submenu 2.2</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                                        <div class="layout-menu-tooltip">
                                            <div class="layout-menu-tooltip-arrow"></div>
                                            <div class="layout-menu-tooltip-text">Submenu 2.2</div>
                                        </div>
                                        <ul role="menu">
                                            <li id="menuform:om_lnk221" role="menuitem"><a href="#"><i class="pi pi-fw pi-align-left layout-menuitem-icon"></i><span class="layout-menuitem-text">Link 2.2.1</span></a>
                                                <div class="layout-menu-tooltip">
                                                    <div class="layout-menu-tooltip-arrow"></div>
                                                    <div class="layout-menu-tooltip-text">Link 2.2.1</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li id="menuform:om_getstarted" role="menuitem" class="layout-root-menuitem" (click)="sidebarBuynow.toggle($event)">
                        <div class="layout-menuitem-root-text">Start</div><a href="#"><i class="pi pi-fw pi-download layout-menuitem-icon"></i><span class="layout-menuitem-text">Start</span><i class="pi pi-angle-down layout-submenu-toggler"></i></a>
                        <div class="layout-menu-tooltip">
                            <div class="layout-menu-tooltip-arrow"></div>
                            <div class="layout-menu-tooltip-text">Start</div>
                        </div>
                        <ul role="menu">
                            <li id="menuform:om_buy" role="menuitem"><a href="https://www.primefaces.org/store"><i class="pi pi-fw pi-shopping-cart layout-menuitem-icon"></i><span class="layout-menuitem-text">Buy Now</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Buy Now</div>
                                </div>
                            </li>
                            <li id="menuform:om_doc" role="menuitem"><a href="/roma/documentation.xhtml;jsessionid=node0rm6s2flxdr051sezlh62sx45l4430437.node0"><i class="pi pi-fw pi-info-circle layout-menuitem-icon"></i><span class="layout-menuitem-text">Documentation</span></a>
                                <div class="layout-menu-tooltip">
                                    <div class="layout-menu-tooltip-arrow"></div>
                                    <div class="layout-menu-tooltip-text">Documentation</div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul><input type="hidden" name="javax.faces.ViewState" id="j_id1:javax.faces.ViewState:0" value="7520679526349316559:-2662454643979320097" autocomplete="off">
            </form>
        </div>
    </div>


    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <div class="layout-footer">
        <div><img id="j_idt193" src="https://www.primefaces.org/roma-ng/assets/layout/images/logo-roma.svg" alt="">
            <p>Premium PrimeFaces Application Template</p>
        </div>
        <div class="footer-icons">
            <a href="#">
                <i class="pi pi-home"></i>
            </a>
            <a href="#">
                <i class="pi pi-globe"></i>
            </a>
            <a href="#">
                <i class="pi pi-envelope"></i>
            </a>
        </div>
    </div>

    <div class="layout-mask modal-in"></div>
</div>
<div id="j_idt196" class="layout-ajax-loader">
    <div id="j_idt196_start" style="display:none">
        <i class="pi pi-spin pi-spinner layout-ajax-loader-icon" aria-hidden="true"></i></div>
    <div id="j_idt196_complete" style=""></div>
</div>