<div class="p-grid p-nogutter" style="margin-left: 50px; margin-bottom: 500px;">
    <div class="card" style="width: 100%;">
        <h5>Invalid State</h5>
        <p>All form components have an invalid state style to display the validation errors when ng-invalid ng-dirty combination is applied by Angular.</p>
        <div class="p-fluid p-grid">
            <div class="p-col-12 p-md-6">
                <div class="p-field"><label for="inputtext">InputText</label><input type="text" id="inputtext" pinputtext="" class="p-inputtext p-component p-element ng-invalid ng-dirty"></div>
                <div class="p-field"><label for="autocomplete">AutoComplete</label>
                </div>
                <div class="p-field"><label for="calendar">Calendar</label>
                    <p-calendar inputid="calendar" class="p-element p-inputwrapper ng-invalid ng-dirty ng-tns-c40-58 ng-untouched ng-pristine ng-valid ng-star-inserted"><span class="ng-tns-c40-58 p-calendar p-calendar-w-btn"><input type="text" autocomplete="off" class="ng-tns-c40-58 p-inputtext p-component ng-star-inserted" placeholder="" id="calendar"><button type="button" pbutton="" pripple="" tabindex="0" class="p-element p-ripple p-datepicker-trigger ng-tns-c40-58 p-button p-component p-button-icon-only ng-star-inserted"><span class="p-button-icon pi pi-calendar" aria-hidden="true"></span>
                        <span aria-hidden="true" class="p-button-label">&nbsp;</span><span class="p-ink"></span></button>
                        <!---->
                        <!---->
                        <!---->
                        </span>
                    </p-calendar>
                </div>
                <div class="p-field"><label for="chips">Chips</label>
                    <p-chips inputid="chips" class="p-element p-inputwrapper ng-invalid ng-dirty ng-untouched ng-pristine ng-valid">
                        <div class="p-chips p-component">
                            <ul class="p-inputtext p-chips-multiple-container">
                                <!---->
                                <li class="p-chips-input-token"><input type="text" id="chips"></li>
                            </ul>
                        </div>
                    </p-chips>
                </div>
                <div class="p-field"><label for="textarea">Textarea</label><textarea inputid="textarea" rows="3" cols="30" pinputtextarea="" class="p-inputtextarea p-inputtext p-component p-element ng-invalid ng-dirty ng-untouched ng-pristine ng-valid"></textarea></div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field"><label for="inputmask">InputMask</label>
                </div>
                <div class="p-field"><label for="inputnumber">InputNumber</label>
                </div>
                <div class="p-field"><label for="dropdown">Dropdown</label>
                    <p-dropdown inputid="dropdown" optionlabel="name" class="p-element p-inputwrapper ng-invalid ng-dirty ng-tns-c34-59 ng-untouched ng-pristine ng-valid ng-star-inserted">
                        <div class="ng-tns-c34-59 p-dropdown p-component">
                            <div class="p-hidden-accessible ng-tns-c34-59"><input type="text" readonly="" aria-haspopup="listbox" role="listbox" class="ng-tns-c34-59" id="dropdown" aria-activedescendant="pr_id_8_label"></div>
                            <!----><span class="ng-tns-c34-59 p-dropdown-label p-inputtext p-placeholder p-dropdown-label-empty ng-star-inserted">empty</span>
                            <!---->
                            <!---->
                            <!---->
                            <div role="button" aria-haspopup="listbox" class="p-dropdown-trigger ng-tns-c34-59"><span class="p-dropdown-trigger-icon ng-tns-c34-59 pi pi-chevron-down"></span></div>
                            <!---->
                        </div>
                    </p-dropdown>
                </div>
                <div class="p-field"><label for="multiselect">MultiSelect</label>

                </div>
            </div>
        </div>
    </div>
</div>