<div class="exception-body notfound">
    <div class="exception-panel">
        <div class="exception-content">
            <img src="https://www.primefaces.org/roma-ng/assets/layout/images/pages/icon-404.svg" />
            <h1>Page Not Found</h1>
            <p>Requested resource is not available.</p>
            <button
                type="button"
                pbutton=""
                icon="pi pi-arrow-left"
                label="Go to Dashboard"
                class="p-element p-button p-component"
                tabindex="0"
            >
                <span
                    class="p-button-icon p-button-icon-left pi pi-arrow-left"
                    aria-hidden="true"
                ></span
                ><span class="p-button-label">Go to Dashboard</span>
            </button>
        </div>
    </div>
</div>
