<div class="p-grid p-nogutter floatlabel-demo" style="margin-left: 50px; margin-bottom: 500px;">
    <div class="card p-fluid" style="width: 100%;">
        <h5>Float Label</h5>
        <p>All input text components support floating labels by adding (<mark>.p-float-label</mark>) to wrapper class.</p>
        <div class="p-grid">
            <div class="p-col-12 p-md-6">
                <div class="p-field"><span class="p-float-label"><input   type="text" id="inputtext" pinputtext="" class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid"><label   for="inputtext">InputText</label></span></div>
                <div class="p-field"><span class="p-float-label p-input-icon-left"><i   class="pi pi-search"></i><input   type="text" id="lefticon" pinputtext="" class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid"><label   for="lefticon">Left Icon</label></span></div>
                <div class="p-field"><span class="p-float-label p-input-icon-right"><input   type="text" id="righticon" pinputtext="" class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid"><label   for="righticon">Right Icon</label><i   class="pi pi-spin pi-spinner"></i></span></div>
                <div class="p-field"><span class="p-float-label">
                   <label   for="inputmask">InputMask</label></span></div>
                <div class="p-field"><span class="p-float-label">
                   
                    <label for="inputnumber">InputNumber</label>
                    </span>
                </div>
                <div class="p-field"><span class="p-float-label"><p-chips   inputid="chips" class="p-element p-inputwrapper ng-untouched ng-pristine ng-valid"><div class="p-chips p-component"><ul class="p-inputtext p-chips-multiple-container"><!----><li class="p-chips-input-token"><input type="text" id="chips"></li></ul></div></p-chips><label   for="chips">Chips</label></span></div>
            </div>
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <div class="p-inputgroup"><span class="p-inputgroup-addon"><i   class="pi pi-user"></i></span><span class="p-float-label"><input   type="text" id="inputgroup" pinputtext="" class="p-inputtext p-component p-element ng-untouched ng-pristine ng-valid"><label   for="inputgroup">InputGroup</label></span></div>
                </div>

                <div class="p-field"><span class="p-float-label"><p-calendar   inputid="calendar" class="p-element p-inputwrapper ng-tns-c40-54 ng-untouched ng-pristine ng-valid ng-star-inserted"><span class="ng-tns-c40-54 p-calendar"><input type="text" autocomplete="off" class="ng-tns-c40-54 p-inputtext p-component ng-star-inserted" placeholder="" id="calendar"><!----><!----><!----></span></p-calendar>
                    <label for="calendar">Calendar</label>
                    </span>
                </div>
                <div class="p-field"><span class="p-float-label"><p-dropdown   inputid="dropdown" optionlabel="name" class="p-element p-inputwrapper ng-tns-c34-55 ng-untouched ng-pristine ng-valid ng-star-inserted"><div class="ng-tns-c34-55 p-dropdown p-component"><div class="p-hidden-accessible ng-tns-c34-55"><input type="text" readonly="" aria-haspopup="listbox" role="listbox" class="ng-tns-c34-55" id="dropdown" aria-activedescendant="pr_id_6_label"></div><!----><span class="ng-tns-c34-55 p-dropdown-label p-inputtext p-placeholder p-dropdown-label-empty ng-star-inserted">empty</span>
                    <!---->
                    <!---->
                    <!---->
                    <div role="button" aria-haspopup="listbox" class="p-dropdown-trigger ng-tns-c34-55"><span class="p-dropdown-trigger-icon ng-tns-c34-55 pi pi-chevron-down"></span></div>
                    <!---->
                </div>
                </p-dropdown><label for="dropdown">Dropdown</label></span>
            </div>
            <div class="p-field"><span class="p-float-label"><label for="multiselect">MultiSelect</label></span>
            </div>
            <div class="p-field"><span class="p-float-label"><textarea   inputid="textarea" rows="3" cols="30" pinputtextarea="" class="p-inputtextarea p-inputtext p-component p-element ng-untouched ng-pristine ng-valid"></textarea><label   for="textarea">Textarea</label></span></div>
        </div>
    </div>
</div>